<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.TypeMapper">

    <select id="selectList" resultType="org.example.pojo.Type">
        SELECT t1.*,t2.statusName AS parentName FROM TYPE t1,TYPE t2 WHERE t1.statusType='PRO_CLASS' AND t1.parentId=t2.id
    </select>

    <insert id="insert" parameterType="org.example.pojo.Type">
        INSERT INTO TYPE VALUES(DEFAULT,#{statusCode},#{statusType},#{statusName},#{parentId},SYSDATE(),#{creationBy},#{modifyDate},#{modifyBy},#{remarks})
    </insert>

    <delete id="deleteById">
        DELETE FROM TYPE WHERE id=#{id}
    </delete>

    <update id="modifyById" parameterType="org.example.pojo.Type">
        UPDATE type
  <set>
    <if test="statusName !=null and statusName !=''">
        statusName = #{statusName},
    </if>
    <if test="parentId !=0 ">
        parentId = #{parentId},
    </if>
    mofidyDate = SYSDATE(),
    modifyBy = #{modifyBy},
   <if test="remarks !=null and remarks !=''">
       remarks= 'remarks'
   </if>
    </set>
      where id = #{id}
    </update>

</mapper>